<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="runImmediately" value ="true"/>
		<add key="chosenCountry" value="kenya"/>
		<add key="urlKenya" value=""/>
		<add key="identityServceKenya" value=""/>
		<add key="urlOman" value=""/>
		<add key="identityServceOman" value=""/>
		<add key="username" value="admin"/>
		<add key="password" value="lsd"/>
		<add key="exchangeCurrencyDataPath" value=""/>
		<add key="currencyCodesDataPath" value=""/>
		<add key="numberOfRecordsForEachCurrency" value="1"/>
		<add key="fromYear" value="2020"/>
		<add key="toYear" value="2025"/>
		<add key="currencyValueMin" value="0,20"/>
		<add key="currencyValueMax" value="300"/>
		<add key="requestedCurrencyIsoCode" value=""/>
		<add key="configuredRepetetion" value="1"/>
		<add key="startTime" value="08:47:35"/>
		<add key="pathToConfigFile" value=""/>
		<add key="pathToLogsFile" value =""/>
		<add key="pathToApplication" value =""/>
		<add key="downloadFrom" value="https://drive.google.com/uc?id=1zO8ekHWx9U7mrbx_0Hoxxu6od7uxJqWw&amp;export=download"/>
	</appSettings>
</configuration>